<section class="section_user section h_calc">
     <div class="container" style="max-width: 600px;">
         <div class="row">
             <div class="user_form">
                  <form action="" [formGroup]="UserLoginForm" (ngSubmit)="UserLogin()">
                       <div class="input-group">
                         <input type="text" class="form-control" placeholder="Enter your Email" formControlName="email" [ngClass]="{
                           'is-invalid': UserLoginForm.get('email')?.invalid && UserLoginForm.get('email')?.touched,
                           'is-valid': UserLoginForm.get('email')?.valid && UserLoginForm.get('email')?.touched,
                         }">
                        <small *ngIf="UserLoginForm.get('email')?.hasError('required') && (UserLoginForm.get('email')?.touched || UserLoginForm.get('email')?.dirty)" class="text-danger">
                        Email is required
                      </small>
                        <small *ngIf="UserLoginForm.get('email')?.hasError('email') && (UserLoginForm.get('email')?.touched || UserLoginForm.get('email')?.dirty)" class="text-danger">
                        Email is incorrect
                      </small>
                      </div>
                        <div class="input-group flex-nowrap mt-3">
                         <input [type]="PasswordToggler?'text':'password'" class="form-control" placeholder="Password" formControlName="password" [ngClass]="{
                           'is-invalid': UserLoginForm.get('password')?.invalid && UserLoginForm.get('password')?.touched,
                           'is-valid': UserLoginForm.get('password')?.valid && UserLoginForm.get('password')?.touched,
                         }">
                         <button (click)="CheckPasswordToggler()" class="input-group-text" id="addon-wrapping" type="button"><i class="fa" [ngClass]="!PasswordToggler? 'fa-eye': 'fa-eye-slash'"></i></button>
                      </div>
                        <small *ngIf="UserLoginForm.get('password')?.hasError('required') && (UserLoginForm.get('password')?.touched)" class="text-danger">
                        Password is required
                      </small>
                      <div class="d-flex align-items-center justify-content-between form_links">
                        <a routerLink="user-forget" class="view_all_action text_dark d-block text-end">Forget Password</a>
                        <a routerLink="sign-up" class="view_all_action text_dark d-block text-end">Dont have an account Ragister Now</a>
                      </div>
                        <div *ngIf="ShowSuccessMessage" class="alert alert-success mt-3 p-2 text-center">{{ ShowSuccessMessage }}</div>
                       <div *ngIf="ShowErrorMessage" class="alert alert-danger mt-3 p-2 text-center">{{ ShowErrorMessage }}</div>
                      <button type="submit" class="btn btn_brand mt-4 w-100" [disabled]="UserLoginForm.invalid">Login</button>
                  </form>
             </div>
         </div>
     </div>
</section>
