                    <div class="row">
                        <h2 class="admin_title">Add Products</h2>
                        <div class="col-12">
                            <div class="user_profile_content p-4 box calc-100vh-200 overflowY">
                                <div class="form max-w-100 box-shadow-none">
                                 <form action="" class="is_relative">
                                    <div class="row">
                                        <div class="form-group image-upload-group d-flex align-items-center">
                                            <div class="user_info" style="width: fit-content; margin-right: 20px;" >
                                                <img style="width: 80px; height: 80px; object-fit: cover; border-radius: 5px;" src="../assets/images/starter1.jpg" class="mb-2 preview-image" alt="">
                                             </div>
                                                    <div class="form-group w-100">
                                                     <!-- <label for="name" style="margin-left: 0;">Add bill image</label> -->
                                                    <input type="file" style="border-radius: 5px;" class="form-control image-input" id="name"  placeholder="bill-images">
                                                </div>
                                             </div>
                                     </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                        <div class="form-group">
                                            <!-- <label for="Phone">Meter Number</label> -->
                                            <input type="text" class="form-control" id="Phone"  placeholder="Meter Number">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <!-- <label for="name">Customer Name</label> -->
                                            <input type="text" class="form-control" id="name"  placeholder="Customer Name">
                                    <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
<ngx-editor [editor]="editor" [(ngModel)]="html" [ngModelOptions]="{standalone: true}"></ngx-editor>

<h4>Preview</h4>
<div [innerHTML]="html"></div>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <!-- <label for="Username">Customer CNIC</label> -->
                                            <input type="text" class="form-control" id="Username"  placeholder="Customer CNIC">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <!-- <label for="Phone">Customer Phone Number</label> -->
                                            <input type="number" class="form-control" id="Phone"  placeholder="Customer Phone Number">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <!-- <label for="Phone">Customer Address</label> -->
                                            <input type="text" class="form-control" id="Phone"  placeholder="Customer Address">
                                        </div>
                                    </div>
                                        <div class="col-lg-6">
                                        <div class="form-group">
                                            <!-- <label for="Phone">Customer Block Number</label> -->
                                            <input type="text" class="form-control" id="Phone"  placeholder="Customer Block Number">
                                        </div>
                                    </div>
                                        <div class="col-lg-6">
                                        <div class="form-group">
                                            <!-- <label for="Phone">Bill payment</label> -->
                                            <input type="text" class="form-control" id="Phone"  placeholder="Bill Payment">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                    <div class="form-group">
                                        <!-- <label for="name">Select Bill Status</label> -->
                                        <select class="form-select" name="service">
                                            <option selected>Select Bill Status</option>
                                            <option value="1">Paid</option>
                                            <option value="2">Pending</option>
                                        </select>
                                    </div>
                                    </div>
                                    </div>
                                    <div class="text-end"><a type="button" class="btn btn_brand">Add Record</a></div>
                                </form>
                               </div>
                            </div>
                       </div>
                    </div>
