         <div class="left bg_gradient">
            <aside>
                <a style="width: 255px;" routerLink="/admin" class="logo"><img style="width: 100%;height: 42px;" src="../../../../assets/images/logo-white.png" alt=""></a>
                <ul>
                    <li *ngFor="let asideItem of asideList" (click)="toggleLinks(asideItem)">
                        <a *ngIf="!asideItem.children" [routerLink]="asideItem.route" class="is_active" [ngClass]="{ 'is_active': asideItem.active }">
                          <i class="fa-solid fa-house"></i> {{ asideItem.name }}
                        </a>
                            <!-- Dropdown links -->
                            <div *ngIf="asideItem.children" class="has_dropdown">
                              <div class="dropdown_link" (click)="toggleDropdown(asideItem)" [ngClass]="{ 'is_active': asideItem.open }">
                                <i class="fa-solid fa-users"></i> {{ asideItem.name }}
                                <!-- <span [class.rotate]="asideItem.open">▼</span> -->
                              </div>
                              <ul class="dropdown_nav" *ngIf="asideItem.open" [ngClass]="{ 'is_active': asideItem.open }">
                                <li *ngFor="let child of asideItem.children">
                                  <a [routerLink]="child.route">{{ child.name }}</a>
                                </li>
                              </ul>
                            </div>
                  </li>
                    <!-- <li><a href="bill-record.html"><i class="fa-solid fa-toolbox"></i> Bills Records</a></li> -->
                    <!-- <li>
                      <div class="has_dropdown">
                        <div class="dropdown_link" (click)="togglerDropdown(asideItem)"><i class="fa-solid fa-users"></i>  Users</div>
                        <ul class="dropdown_nav" [ngClass]="slidedropdown?'is_active':''">
                            <li><a href="all-admins.html">Administrator</a> </li>
                            <li><a href="all-managers.html">All Manager</a> </li>
                        </ul>
                    </div>
                  </li> -->
                </ul>
              </aside>
         </div>
