<section class="section_saller section h_calc">
     <div class="container" style="max-width: 600px;">
         <div class="row">
             <div class="saller_form">
                  <form action="">
                        <div class="input-group flex-nowrap mt-3">
                         <input class="form-control" placeholder="Password">
                         <button class="input-group-text" id="addon-wrapping"><i class="fa "></i></button>
                      </div>
                        <div class="input-group flex-nowrap mt-3">
                         <input class="form-control" placeholder="Confirm Password">
                         <button class="input-group-text" id="addon-wrapping"><i  class="fa "></i></button>
                      </div>
                      <div class="d-flex align-items-center justify-content-between form_links">
                        <a routerLink="/user" class="view_all_action text_dark d-block text-end">Already have an account Login Now</a>
                      </div>
                      <button type="submit" class="btn btn_brand mt-4 w-100">Login</button>
                  </form>
             </div>
         </div>
     </div>
</section>
