<section class="section_user section h_calc">
     <div class="container" style="max-width: 600px;">
         <div class="row">
             <div class="user_form">
                  <form action="" [formGroup]="UserSetPin" (ngSubmit)="UserSetPinForm()">
                       <div class="input-group eicon flex-nowrap mt-3">
                         <input [type]="!showpassword? 'password': 'text'" class="form-control" placeholder="Password" formControlName="password" [ngClass]="{
                            'is-invalid': UserSetPin.get('password')?.invalid && UserSetPin.get('password')?.touched,
                            'is-valid': UserSetPin.get('password')?.valid && UserSetPin.get('password')?.touched
                         }">
                         <button (click)="PasswordToggler($event)" type="button" class="input-group-text"><i class="fa" [ngClass]="!showpassword? 'fa-eye':'fa-eye-slash'"></i></button>
                      </div>
                        <small *ngIf="UserSetPin.get('password')?.errors?.['required'] && UserSetPin.get('password')?.touched" class="text-danger">
                            Password is required
                          </small>
                       <div class="input-group eicon flex-nowrap mt-3">
                         <input [type]="!confirmshowpassword? 'password': 'text'" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword" [ngClass]="{
                          'is-invalid': UserSetPin.get('confirmPassword')?.invalid && UserSetPin.get('confirmPassword')?.touched || (SetPasswordMisMatch && !UserSetPin.get('confirmPassword')?.hasError('required')),
                          'is-valid': UserSetPin.get('confirmPassword')?.valid && UserSetPin.get('confirmPassword')?.touched && !SetPasswordMisMatch
                         }">
                         <button (click)="ConfirmPasswordToggler($event)" type="button" class="input-group-text"><i class="fa" [ngClass]="!confirmshowpassword? 'fa-eye':'fa-eye-slash'"></i></button>
                      </div>
                        <small *ngIf="UserSetPin.get('confirmPassword')?.hasError('required') && (UserSetPin.get('confirmPassword')?.touched || UserSetPin.get('confirmPassword')?.dirty)" class="text-danger">
                        Confirm Password is required
                      </small>

                      <small *ngIf="SetPasswordMisMatch && !UserSetPin.get('confirmPassword')?.hasError('required') && (UserSetPin.get('confirmPassword')?.touched || UserSetPin.get('confirmPassword')?.dirty)" class="text-danger">
                        Password and Confirm Password do not match.
                      </small>
                       <div *ngIf="ShowSuccessMessage" class="alert alert-success mt-3 p-2 text-center">{{ ShowSuccessMessage }}</div>
                       <div *ngIf="ShowErrorMessage" class="alert alert-danger mt-3 p-2 text-center">{{ ShowErrorMessage }}</div>
                      <button type="submit" class="btn btn_brand mt-4 w-100" [disabled]="UserSetPin.invalid || SetPasswordMisMatch">Set New Password</button>
                  </form>
             </div>
         </div>
     </div>
</section>
